/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

@media screen and (max-width: 600px){
    nav.responsive {position: relative;}
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: #1a0834;
}


/******************************************
/* LAYOUT
/*******************************************/


.active {
    font-family: 'Aboreto', cursive, serif;
    font-size: 20px;
    text-decoration: bold;
    color: white;
}

h1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 32px;
    color: white;
    padding: 14px 16px;
    text-align: center;
}

span, label, a, li {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 22px;
    color: white;
}

nav{
    overflow: hidden;
    background-color: #000;
    position: relative;
}

nav #navLinks {
    display: none;
}

nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    
}

nav a.icon {
    background: #ece38d;
    display: block;
    position: absolute;
    color: #1a0834;
    right: 0;
    top: 0;
}

nav a:hover {
    background-color: #1a0834;
    color: white;
    
}

nav .active {
    background-color: #01847b;
    color: white;
}

section {
    margin: 15px 50px;
    
}

h2 {
    color: #ece38d;
    padding-left: 32px;
}


#videoGameSection > h2 {
    font-family: 'Silkscreen', cursive, serif;
    font-size: 32px;
    
}

#boardGameSection > h2 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 32px;
    
}

#cardGameSection > h2 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 32px;
 
}

.del {
    color: #01847b;
}

.del:hover {
    color: #ece38d;
}

form {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#button {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 22px;
    color: white;
    background-color: #01847b;
    font-family: 'Silkscreen', cursive, serif;
    margin: 3px;
    border: 2px solid white;
}

#button:hover {
    color: #1a0834;
    background-color: #ece38d;
    border: 2px solid #1a0834;
}

li {
    list-style-type: circle;
    margin-left: 30px;
}



